@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lexend+Deca&display=swap");

:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
  --color-white: #ffffff;
  --color-violet: hsl(277, 64%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0c1b;
  font-family: var(--primary-font);
}

.container {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  background-color: #1c1938;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  transform: translateY(15%);
}

.text {
  color: #ffffff;
  padding: 4rem 2.5rem 4rem 3rem;
  max-width: 50%;
}

.heading {
  font-size: 2rem;
  font-family: var(--primary-font);
}

.heading span {
  color: var(--color-violet);
}

.description {
  color: #8a88a0;
  margin: 2rem 0 3rem 0;
  line-height: 1.8;
  letter-spacing: 0.5;
  max-width: 85%;
}

.ctrs {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

.metric-heading {
  font-size: 1rem;
  font-weight: bold;
}

.metric-description {
  text-transform: uppercase;
  color: #8a88a0;
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.image {
  max-width: 50%;
}

.image img {
  border-radius: inherit;
  border-radius: 0 10px 10px 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%) sepia(50) saturate(40) hue-rotate(257deg);
}

@media screen and (max-width: 550px) {
  .container {
    width: 85%;
    height: auto;
    flex-direction: column-reverse;
    text-align: center;
  }

  .text,
  .image {
    max-width: 100%;
  }

  .text {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description {
    margin: 3rem 0;
    max-width: 100%;
  }

  .image img {
    border-radius: 10px 10px 0 0;
  }

  .ctrs {
    display: block;
    padding: 0;
  }

  .metric {
    margin-bottom: 3rem;
  }
}
