.feature-section {
  .feature-image {
    max-width: 411px;
    overflow: hidden;

    img {
      width: 100%;
    }

    @media screen and (min-width: 412px) {
      max-width: 50%;
    }
  }

  .feature-row {
    @media screen and (min-width: 412px) {
      display: flex;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }

  .feature-text {
    padding: 2rem;
    text-align: center;

    @media screen and (min-width: 412px) {
      text-align: left;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 9rem;
    }

    .feature-heading {
      color: var(--feature-heading);
      font-weight: bold;
      font-size: 2rem;
      padding: 0 0 1rem 0;

      @media screen and (min-width: 412px) {
        padding: 0 0 2rem;
      }
    }

    .feature-description {
      color: var(--feature-desc);
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 1.5;
      padding: 0 0 0.5rem 0;
      @media screen and (min-width: 412px) {
        padding: 0 0 2rem;
      }
    }

    .feature-link {
      text-transform: uppercase;
      font-weight: bold;
      color: var(--feature-heading);
      @media screen and (min-width: 412px) {
        padding: 0 0 2rem;
      }

      a {
        font: inherit;
        text-decoration: none;
        border-bottom: 4px solid var(--border-yellow);
      }
    }

    @media screen and (min-width: 412px) {
      .feature-heading,
      .feature-description,
      .feature-link {
        text-align: left;
      }
      max-width: 50%;
    }
  }

  .feature-card {
    position: relative;
    text-align: center;

    .feature-heading {
      font-size: 2rem;
      font-weight: bold;
      padding: 0 0 0.5rem 0;

      &:nth-child(1) {
        color: #225147;
      }

      &:nth-child(2) {
        color: #1f556d;
      }
    }

    .feature-card-image {
      height: 430px;
      overflow: hidden;
      @media screen and (min-width: 412px) {
        height: auto;
      }
    }

    .feature-text-card {
      position: absolute;
      top: 60%;
      color: #195470;
      padding: 0 1rem;
      @media screen and (min-width: 412px) {
        padding: 0 11rem;
      }
    }

    .feature-description {
      &:nth-child(1) {
        color: #3d7b6c;
      }

      &:nth-child(2) {
        color: #156080;
      }
    }
  }
}
