.footer-section {
  background-color: var(--footer-bg-color);
  padding: 2rem;

  .footer-heading {
    text-align: center;
    color: var(--footer-heading);
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: lowercase;
    margin: 2rem auto 3rem auto;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0 2rem;
  }

  .footer-nav {
    padding: 0 2rem;
    list-style: none;
    color: var(--footer-nav);
    margin: 0 0 2rem 0;
  }

  .footer-social-media {
    margin: 5rem auto 3rem auto;
  }
}
