.gallery-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media screen and (min-width: 412px) {
    .gallery-section {
      grid-template-columns: repeat(4, 1fr); } }
  .gallery-section img {
    width: 100%;
    display: block; }
